<h1>Coins</h1>

<form action='/results' method='get'>
  <div class="form-group">
    <label for="coinNumber">Enter number</label>
    <input id="coinNumber" name="coinNumber" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-danger">Go!</button>
</form>
